<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Adoções</title>
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_adocoes.css">
    
</head>
<body>
    <header>
        <h1>MyCat</h1>
        <nav>
            <a class="header-link" href="/">Voltar para Home</a>
            <form action="/logout" method="post" style="display:inline;">
                <button class="header-btn" type="submit">Sair</button>
            </form>
        </nav>
    </header>
    <main>
        <h2>Lista de Adoções</h2>
        <table class="adocoes-table">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>CPF</th>
            </tr>
            <% adocoes.forEach(a => { %>
                <tr>
                    <td><%= a.nome %></td>
                    <td><%= a.telefone %></td>
                    <td><%= a.email %></td>
                    <td><%= a.cpf %></td>
                </tr>
            <% }) %>
        </table>
    </main>
    <%- include('partials/footer') %>
</body>
</html>