<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>MyCat - Adoção de Gatos</title>
    <link rel="stylesheet" href="/css/_carousel.css">
    <link rel="stylesheet" href="/css/_drawer.css">
    <link rel="stylesheet" href="/css/_footer.css">
    <link rel="stylesheet" href="/css/_form.css">
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_modal.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/carousel') %>
    <%- include('partials/quem-somos') %>
    <%- include('partials/adotar') %>
    <%- include('partials/footer') %>
    <script src="/script.js"></script>
    <script src="/js/auth.js"></script>
</body>
</html>